*.cmi
*.cmo
*.cmx
*.cmt

src/**/*.o

src/**/*.ml
!src/utility.ml
!src/uint32_wrapper.ml
!src/uint64_wrapper.ml
!src/ml_bindings.ml
!src/byte_sequence_wrapper.ml
!src/filesystem_wrapper.ml
!src/src_lem_library/*.ml

*.opt

src/main_elf
src/main_elf.native
src/main_link
src/main_link.native
src/main_load
src/main_load.native
src/copy_elf
src/copy_elf.native
src/lem_ocaml_sentinel

src/build_num
src/build_zarith
src/_build
src/byte_sequence_impl.lem
